body {
    box-sizing: border-box;

  }
  .gallery {
    list-style: none;
    width: 1440px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 18px;
    row-gap: 18px;
  }
  
 
  .gallery_image {
    width:360px;
    height: 200px;
  }
